@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema De Gerenciamento de Hotel</h1>
    
    <p>Bem vindo ao site de Gerenciamento de Hotel!</p>



</div>
