@model HotelCSHARP.Models.HotelModel // Declarando o modelo para o formulário

@{
    ViewData["tittle"] = "Excluir Reserva!"; // MODIFICANDO O NOME DA PAGINA
}


<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Exclusão de Reserva!</h1>
    </div>

    <form method="post" asp-controller="Hotel" asp-action="Excluir">
        
        <input type="hidden" asp-for="Id">
        
        <h2 class="text-light">Tem certeza que deseja excluir o registro abaixo?</h2> 
        
        <div class="mb-3">
            <label for="Nome" class="form-label text-light">Nome:</label>
            <input type="text" class="form-control text-dark" asp-for="Nome" id="Nome" placeholder="Primeiro nome:" disabled>
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="mb-3">
            <label for="SobreNome" class="form-label text-light">Sobrenome:</label>
            <input type="text" class="form-control text-dark" asp-for="SobreNome" id="SobreNome" placeholder="Sobrenome:" disabled>
            <span class="text-danger" asp-validation-for="SobreNome"></span>
        </div>

        <div class="mb-3">
            <label for="NumeroQuarto" class="form-label text-light">Número do quarto:</label>
            <input type="text" class="form-control text-dark" asp-for="NumeroQuarto" id="NumeroQuarto" placeholder="Número do quarto:" disabled>
            <span class="text-danger" asp-validation-for="NumeroQuarto"></span>
        </div>

        <div class="mb-3">
            <label for="PrecoPorNoite" class="form-label text-light">Preço por Noite:</label>
            <input type="number" step="0.01" class="form-control text-dark" asp-for="PrecoPorNoite" id="PrecoPorNoite" placeholder="Preço por noite:" disabled/>
            <span class="text-danger" asp-validation-for="PrecoPorNoite"></span>
        </div>

        <div class="mb-3">
            <label for="CheckIn" class="form-label text-light">Data de Entrada:</label>
            <input type="date" class="form-control text-dark" asp-for="CheckIn" id="CheckIn" disabled />
            <span class="text-danger" asp-validation-for="CheckIn"></span>
        </div>

        <div class="mb-3">
            <label for="CheckOut" class="form-label text-light">Data de Saída:</label>
            <input type="date" class="form-control text-dark" asp-for="CheckOut" id="CheckOut" disabled />
            <span class="text-danger" asp-validation-for="CheckOut"></span>
        </div>

        <div class="mb-3">
            <label for="Contato" class="form-label text-light">Telefone:</label>
            <input type="tel" class="form-control text-dark" asp-for="Contato" id="Contato" placeholder="(XX) XXXX-XXXX"  disabled />
            <span class="text-danger" asp-validation-for="Contato"></span>
        </div>

        <div class="mb-3">
            <label for="StatusReserva" class="form-label text-light">Status Reserva:</label>
            <input type="tel" class="form-control text-dark" asp-for="StatusReserva" id="StatusReserva" placeholder="Status Reserva:" disabled />
            <span class="text-danger" asp-validation-for="StatusReserva"></span>
        </div>






        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-primary btn-success w-50">Excluir</button>
            <a class="btn btn-primary w-50" asp-controller="Hotel" asp-action="Index">Voltar</a>
        </div>
    </form>






</div>